.intro{
background-color: red; 
border:solid;
display:flex;
justify-content:space-evenly;
}
.one{
border:solid;
color:blue;
}
.two{
border:solid;
color:purple;
}
.three{
border:solid;
color:black;
}
.four{
border:solid;
color:green;
}
.five{
border:solid;
color:brown;
}
.head{
border:solid;
color:indigo;
}